<div class="container">
  
    <h1>Sell Order</h1>
      <div>
          <strong>Stock Name: </strong>{{order.StockName}} ({{order.StockSymbol}})<br />
		  <strong>Quantity Held: </strong>{{order.TotalQuantity}}<br />
		  <strong>Average Buying Price: </strong>{{order.AvgBuyingPrice | currency:'INR':'symbol' }}<br />
		  <strong>Current Stock Price: </strong>{{order.CurrentPrice | currency:'INR':'symbol' }}<br /><br /><br />
      </div>
       
    <form novalidate [formGroup]="sell" class="form-horizontal" >		
        <div class="form-group">
          <label class="control-label col-sm-2" for="Quantity">Quantity:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="Quantity" formControlName="Quantity" required />
              <!--<div *ngIf="emp.get('id').hasError(('required')) && emp.get('id').touched">Id is required</div>-->
            </div>
        </div>
  
        <div class=" form-group">
           <label class="control-label col-sm-2">Order Type:</label>
            <div class="container row">
              <div class="col-md-6">
                  <select formControlName="OrderType" class="custom-select" #s1>
                    <option value="Market">Market</option>
                    <option value="Limit">Limit</option>
                    <option value="Stop">Stop</option>
                    <option value="StopLimit">StopLimit</option>
                  </select>
              </div>
            <div>
              <input type="button" (click)="Toggle(s1.value); StopPrice.value=0; LimitPrice.value=0 " value="Set" class="btn btn-info"/>
            </div>
          </div>
        </div>
          
  
        <div class="form-group" [hidden]="StopFlag">
          <label class="control-label col-sm-2" for="StopPrice">Stop Price:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="StopPrice" #StopPrice formControlName="StopPrice" required />
               <!--<div *ngIf="emp.get('name').hasError('required') && emp.get('name').touched">
                  Name is required.
              </div>
              <div *ngIf="emp.get('name').hasError('minlength') && emp.get('name').touched">
              Minimum 4 characters needed for name.
              </div>-->
            </div>
        </div>
  
        <div class="form-group" [hidden]="LimitFlag">
          <label class="control-label col-sm-2" for="LimitPrice">Limit Price:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="LimitPrice" #LimitPrice formControlName="LimitPrice" required />
               <!--<div *ngIf="emp.get('email').hasError('required') && emp.get('email').touched">
              Email is required.
              </div>-->
            </div>  
        </div>
  
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn" (click)="onSubmit(sell)">Submit</button>
            <input type="reset" class="btn" value="Reset" />
          </div>
        </div>
     </form>
   </div>