<div class="row border-bottom">
	<div class="col">
		<h2>Current Position</h2>
	</div>
	<div class="col-md-auto d-flex align-items-center">
		<button class="btn btn-primary" (click)="getCurrentPositions()">Refresh</button>        
	</div>
</div>

<div class="table-responsive">
<table class="table table-hover">
	<thead>
		<tr class="table-danger">
			<th>Stock (Symbol)</th>
			<th>Current Price</th>
			<th>Buying Price</th>
			<th>Volume Bought</th>
			<th>Total Value</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>     
		<ng-template ngFor let-ob [ngForOf]="otherList">
			<tr class="">
				<td>{{ob.StockName}} ({{ob.StockSymbol}})</td>
				<td>{{ob.CurrentPrice | currency:'INR':'symbol' }}</td>
				<td>{{ob.AvgBuyingPrice | currency:'INR':'symbol' }}</td>
				<td>{{ob.AvgQuantity}}</td>
				<td>{{ob.TotalValue | currency:'INR':'symbol' }}</td>
				<td>
					<a routerLink="/Trader/Sell"><button type="button" class="btn btn-primary" (click)="Sell(s)">Sell</button></a>
					<button class="btn btn-secondary" (click)="show = !show">Details</button>
				</td>
			</tr>
			<ng-container *ngIf="show">
			<tr *ngFor="let o of ob.CurrentPositionList">
				<td></td>
				<td></td>
				<td>{{o.Buying_Price | currency:'INR':'symbol' }}</td>
				<td>{{o.Quantity}}</td>
				<td>{{o.Total_Value | currency:'INR':'symbol' }}</td>
				<td></td>
			</tr>
			</ng-container>			
		</ng-template>
	</tbody>
</table> 
</div>